@use '@angular/material' as mat;

$light-theme: mat.define-theme();
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark
  )
));

html {
    @include mat.all-component-themes($light-theme);
}
html, body { height: 100%; }
body { 
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    * {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    strong {
        font-weight: bold;
    }
}

mat-card {
    mat-card-header {
        * {
            font-weight: 900;
        }
    }
}
